@let service = serviceSet();
<section appId="services" class="services" id="services">
  @if (service) {
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 i18n="@@services">Services</h2>
        <p appId="overview">{{ service.overview }}</p>
      </div>

      @if (service.serviceDetails; as serviceDetails) {
        <div class="row">
          @for (serviceDetail of serviceDetails; track serviceDetail.name) {
            @let dataIndex = ($index + 1).toString().padStart(2, '0');
            <div class="col-lg-3 col-md-6 col-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">

              <div class="icon-box">
                <div class="img-fluid">
                  <img [appId]="'backgroundUrl_' + dataIndex" [src]="serviceDetail.backgroundUrl" alt="" />
                </div>

                <div class="icon-box-text">
                  <h4 [appId]="'name_' + dataIndex">
                    <a href="">{{ serviceDetail.name }}</a>
                  </h4>
                  <p [appId]="'description_' + dataIndex">{{ serviceDetail.description }}</p>
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  }
</section>
