<header>
  <h1 appId="vista Early adopter" i18n="@@headerTitle">Vista Early Adopter</h1>
</header>
<div class="container">
  <div class="section">
    <h2 appId="qué es una vista early adopter" i18n="@@titleWhatIs">¿Qué es una Vista Early Adopter?</h2>
    <p i18n="@@descWhatIs">
      Es una versión preliminar de un producto o funcionalidad diseñada para usuarios que desean probar nuevas
      características antes de su lanzamiento oficial. Estos usuarios son clave para darnos retroalimentación y
      ayudarnos a mejorar.
    </p>
  </div>
  <div class="section">
    <h2 appId="características clave" i18n="@@titleFeatures">Características Clave</h2>
    <ul>
      <li i18n="@@featuresAccess">Acceso limitado a un grupo selecto de usuarios.</li>
      <li i18n="@@featuresInterface" >Interfaz experimental y en desarrollo.</li>
      <li i18n="@@featuresFeedback">Retroalimentación activa para mejorar el producto.</li>
      <li i18n="@@featuresPurpose">Propósito exploratorio para validar ideas.</li>
    </ul>
  </div>
  <div class="section">
    <h2 appId="cómo puedes ayudarnos" i18n="@@titleHelp">¿Cómo puedes ayudarnos?</h2>
    <p i18n="@@descHelp">
      Como Early Adopter, tendrás la oportunidad de probar nuestras funciones en desarrollo y darnos tus valiosos
      comentarios. Tu participación es fundamental para ayudarnos a construir un mejor producto.
    </p>
    <a appId="quiero ser early adopter" routerLink="/register" href="#" class="button" i18n="@@buttonJoin">¡Quiero ser Early Adopter!</a>
  </div>
</div>
