<form [formGroup]="personalDataForm">
  <div class="wizard-step" [class.active]="currentStep === 0">
    <h2 i18n="@@personalData">Step 1: Personal Data</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label appId="nombre" class="label-with-colon" i18n="@@firstName" for="firstName">First Name</label>
          <input
            id="firstName"
            type="text"
            formControlName="firstName"
            i18n-placeholder="@@firstNamePlaceholder"
            placeholder="Enter your first name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label appId="segundo nombre" class="label-with-colon" i18n="@@middleName" for="middleName">Middle
            Name</label>
          <input
            id="middleName"
            type="text"
            formControlName="middleName"
            i18n-placeholder="@@middleNamePlaceholder"
            placeholder="Enter your middle name"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label appId="apellido" class="label-with-colon" i18n="@@lastName" for="lastName">Last Name</label>
          <input
            id="lastName"
            type="text"
            formControlName="lastName"
            i18n-placeholder="@@lastNamePlaceholder"
            placeholder="Enter your last name"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label appId="segundo apellido" class="label-with-colon" i18n="@@secondLastName" for="secondLastName">Second
            Last Name</label>
          <input
            id="secondLastName"
            type="text"
            formControlName="secondLastName"
            i18n-placeholder="@@secondLastNamePlaceholder"
            placeholder="Enter your second last name"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label appId="fecha de nacimiento" class="label-with-colon" i18n="@@birthDate" for="birthDate">Birth
            Date</label>
          <input
            id="birthDate"
            type="date"
            formControlName="birthDate"
          />
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label appId="imagen del perfil" for="profileImageUrl" class="label-with-colon" i18n="@@profileImageUrl">Profile
            picture URL</label>
          <input
            id="profileImageUrl"
            type="text"
            formControlName="profileImageUrl"
            i18n-placeholder="@@profileImageUrlPlaceholder"
            placeholder="Enter your profile image URL"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="wizard-nav">
    <button
      type="button"
      i18n="@@save"
      (click)="savePersonalData()"
      [disabled]="isSaving"
      class="btn btn-primary"
    >
      Save
      <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
</form>
