<div class="page-container">
  <div class="form-card">
    <form [formGroup]="dataForm" class="form-content">
      <h2 class="form-main-title" appId="skillsRegisterTitle" i18n="@@skillsRegisterTitle">Step 5: Skills data</h2>
      <div class="overview-section">
        <mat-form-field appearance="fill" class="form-field-custom-width">
          <mat-label i18n="@@overview">Overview</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="20"
            appId="overview"
            formControlName="overview"
            i18n-placeholder="@@overviewPlaceholder"
            placeholder="Write an overview"
          ></textarea>
        </mat-form-field>
        <div class="insert-button-container">
          <button mat-stroked-button color="primary" i18n="@@insertButton"
                  (click)="openSkillsDialog()">
            <mat-icon>add_circle_outline</mat-icon>
            Insert
          </button>
        </div>
      </div>
      <div class="skills-container-visual">
        <h2>HABILIDADES</h2>
        <mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
          @for (skillItem of skillItemBaseArray(); track skillItem.id) {
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <div class="skill-tile">
                <img [src]="skillItem.iconUrl"
                     [alt]="skillItem.name + 'logo'"
                     class="skill-logo">
                <p class="skill-name">{{ skillItem.name }}</p>
              </div>
            </mat-grid-tile>
          }
          @if (skillItemBaseArray().length === 0) {
            <mat-grid-tile [colspan]="4" [rowspan]="1" class="no-skills-tile-placeholder">
              <div class="no-skills-message">
                <p i18n="@@noRegistration">No skills have been added yet.</p>
                <mat-icon>sentiment_dissatisfied</mat-icon>
              </div>
            </mat-grid-tile>
          }
        </mat-grid-list>
      </div>
      <div class="form-actions-centered">
        <button
          mat-raised-button
          color="primary"
          (click)="saveSkills()"
          [disabled]="isSaving"
          i18n="@@save"
          class="save-action-button">
          Save
          <mat-progress-spinner *ngIf="isSaving" mode="indeterminate" diameter="20"
                                class="button-spinner"></mat-progress-spinner>
        </button>
      </div>
    </form>
  </div>
</div>
