.form-container {
  display: block;
  text-align: center; /* Centrar el contenido del formulario */
}

h2 {
  text-align: center; /* Centrar el título */
  margin-bottom: 24px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Espaciado entre filas */
}

.form-row {
  display: flex;
  gap: 16px; /* Espaciado entre columnas */
}

.form-item {
  flex: 0.31; /* Elementos que ocupan un tercio del ancho */
}

.form-item {
  flex: 0.66; /* Elementos que ocupan dos tercios del ancho */
}

.form-actions {
  margin-top: 16px;
  display: flex;
  justify-content: center; /* Centrar el botón */
}
