<header>
  <h1>Registro Early Adopter - Wizard</h1>
</header>

<div class="container">
  <form [formGroup]="personalDataForm">
    <div class="wizard-step" [class.active]="currentStep === 0">
      <h2>Paso 1: Datos Personales</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="firstName">Nombre:</label>
            <input
              id="firstName"
              type="text"
              formControlName="firstName"
              placeholder="Nombre"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="middleName">Segundo nombre:</label>
            <input
              id="middleName"
              type="text"
              formControlName="middleName"
              placeholder="Segundo nombre"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="lastName">Apellido:</label>
            <input
              id="lastName"
              type="text"
              formControlName="lastName"
              placeholder="Apellido"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="secondLastName">Segundo Apellido:</label>
            <input
              id="secondLastName"
              type="text"
              formControlName="secondLastName"
              placeholder="Segundo apellido"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="birthDate">fecha de nacimiento:</label>
            <input
              id="birthDate"
              type="date"
              formControlName="birthDate"
              placeholder="Fecha de nacimiento"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label for="profileImageUrl">imagen del perfil:</label>
            <input
              id="profileImageUrl"
              type="text"
              formControlName="profileImageUrl"
              placeholder="URL de la imagen del perfil"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="wizard-nav">
      <button
        type="button"
        (click)="savePersonalData()"
        [disabled]="isSaving"
        class="btn btn-primary"
      >
        Guardar
        <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>
