<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-lg border-0">
        <div class="card-body p-4">
          <div class="mb-4">
            <h2 appId="titleWhatIs" i18n="@@titleWhatIs" class="h4 text-primary fw-bold mb-3">
              What is an Early Adopter View?
            </h2>
            <p i18n="@@descWhatIs" class="text-secondary">
              It is a preliminary version of a product or feature designed for users who want to try new functionalities
              before their official release. These users are key to providing feedback and helping us improve.
            </p>
          </div>
          <div class="mb-4">
            <h2 appId="titleFeatures" i18n="@@titleFeatures" class="h4 text-primary fw-bold mb-3">Key Features</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" i18n="@@featuresAccess">
                <i class="bi bi-check-circle-fill text-success"></i> Limited access to a select group of users.
              </li>
              <li class="list-group-item" i18n="@@featuresInterface">
                <i class="bi bi-check-circle-fill text-success"></i> Experimental and developing interface.
              </li>
              <li class="list-group-item" i18n="@@featuresFeedback">
                <i class="bi bi-check-circle-fill text-success"></i> Active feedback to improve the product.
              </li>
              <li class="list-group-item" i18n="@@featuresPurpose">
                <i class="bi bi-check-circle-fill text-success"></i> Exploratory purpose to validate ideas.
              </li>
            </ul>
          </div>
          <div>
            <h2 appId="titleHelp" i18n="@@titleHelp" class="h4 text-primary fw-bold mb-3">How can you help?</h2>
            <p i18n="@@descHelp" class="text-secondary">
              As an Early Adopter, you will have the opportunity to test our developing features and provide your
              valuable
              feedback. Your participation is essential to help us build a better product.
            </p>
            <div class="d-flex justify-content-end mt-4">
              <a
                appId="buttonJoin"
                [routerLink]="['register']"
                role="button"
                class="btn btn-primary btn-lg px-4 py-2"
                i18n="@@buttonJoin">
                I want to be an Early Adopter!
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
