<div class="section">
  <h2 appId="titleWhatIs" i18n="@@titleWhatIs">What is an Early Adopter View?</h2>
  <p i18n="@@descWhatIs">
    It is a preliminary version of a product or feature designed for users who want to try new functionalities before
    their official release. These users are key to providing feedback and helping us improve.
  </p>
</div>
<div class="section">
  <h2 appId="titleFeatures" i18n="@@titleFeatures">Key Features</h2>
  <ul>
    <li i18n="@@featuresAccess">Limited access to a select group of users.</li>
    <li i18n="@@featuresInterface">Experimental and developing interface.</li>
    <li i18n="@@featuresFeedback">Active feedback to improve the product.</li>
    <li i18n="@@featuresPurpose">Exploratory purpose to validate ideas.</li>
  </ul>
</div>
<div class="section">
  <h2 appId="titleHelp" i18n="@@titleHelp">How can you help?</h2>
  <p i18n="@@descHelp">
    As an Early Adopter, you will have the opportunity to test our developing features and provide your valuable
    feedback. Your participation is essential to help us build a better product.
  </p>
  <a appId="buttonJoin" routerLink="/register" href="#" class="button" i18n="@@buttonJoin">I want to be an Early
    Adopter!</a>
</div>
