<div class="form-container my-4 p-4 bg-light rounded shadow">
  <form [formGroup]="dataForm">
    <h2 class="mb-4 text-center fw-bold" appId="summaryRegisterTitle" i18n="@@summaryRegisterTitle">
      Step 3: Curriculum Data
    </h2>
    <div class="mb-4">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label i18n="@@introduction">Introduction about you</mat-label>
        <textarea
          matInput
          formControlName="introduction"
          i18n-placeholder="@@introductionPlaceholder"
          appId="introductionInput"
          placeholder="Enter an attractive introduction about you"
          rows="5"
          required>
        </textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="m-0 text-primary fw-bold" appId="educationSectionTitle" i18n="@@educationSectionTitle">
            Education
          </h4>
          <button
            mat-flat-button
            color="primary"
            appId="btnInsertEducation"
            (click)="openEducationDialog()"
            i18n="@@insertButton">
          <mat-icon>add_circle</mat-icon> Insert
          </button>
        </div>
        @for (education of educationArray(); track education.correlationId) {
          <mat-card class="mb-3">
            <mat-card-content>
              <h5 class="text-primary fw-bold mb-1">{{ education.degree }}</h5>
              <p class="text-muted fst-italic mb-0">{{ education.institutionName }}</p>
              <p class="mb-1">
                <mat-icon class="align-middle">location_on</mat-icon> <strong>Location:</strong> {{ education.institutionLocation }}
              </p>
              <p class="mb-1">
                <mat-icon class="align-middle">description</mat-icon> <strong>Description:</strong> {{ education.description }}
              </p>
              <p class="mb-1">
                <mat-icon class="align-middle">calendar_today</mat-icon> <strong>Start Date:</strong> {{ education.startDate | date:'mediumDate' }}
              </p>
              <p class="mb-0">
                <mat-icon class="align-middle">event</mat-icon> <strong>End Date:</strong> {{ education.endDate ? (education.endDate | date:'mediumDate') : 'Present' }}
              </p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button
              color="warn"
              [appId]="getButtonAppId('btnRemoveEducation', education.correlationId!)"
              (click)="removeEducation(education.correlationId!)">
              <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        } @empty {
          <p class="text-muted fst-italic"></p>
        }
      </div>

      <!-- Work Experience Section -->
      <div class="col-lg-6">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="m-0 text-primary fw-bold" appId="workExperienceSectionTitle" i18n="@@workExperienceSectionTitle">
            Work Experience
          </h4>
          <button
            mat-flat-button
            color="primary"
            appId="btnInsertWorkExperience"
            (click)="openWorkExperienceDialog()"
            i18n="@@insertWorkExperienceButton">
           <mat-icon>add_circle</mat-icon> Insert
           </button>
        </div>
        @for (work of workExperienceArray(); track work.correlationId) {
          <mat-card class="mb-3">
            <mat-card-content>
              <h5 class="text-success fw-bold mb-1">{{ work.jobTitle }}</h5>
              <p class="text-muted fst-italic mb-0">{{ work.companyName }}</p>
              <p class="mb-1">
                <mat-icon>location_on</mat-icon> <strong>Location:</strong> {{ work.companyLocation }}
              </p>
              <p class="mb-1">
                <mat-icon>description</mat-icon> <strong>Description:</strong> {{ work.description }}
              </p>
              <p class="mb-1">
                <mat-icon>calendar_today</mat-icon> <strong>Start Date:</strong> {{ work.startDate | date }}
              </p>
              <p class="mb-0">
                <mat-icon>event</mat-icon> <strong>End Date:</strong> {{ work.endDate ? (work.endDate | date) : 'Present' }}
              </p>
            </mat-card-content>
            <mat-card-actions align="end">
              <button
                mat-button
                color="warn"
                [appId]="getButtonAppId('btnRemoveWork', work.correlationId!)"
                (click)="removeWorkExperience(work.correlationId!)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        } @empty {
          <p class="text-muted fst-italic"></p>
        }
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button
        mat-raised-button
        color="primary"
        (click)="saveData()"
        [disabled]="isSaving"
        i18n="@@save">
        Save
        <mat-progress-spinner *ngIf="isSaving" mode="indeterminate" diameter="20" class="ms-2"></mat-progress-spinner>
      </button>
    </div>
  </form>
</div>
