<div class="container my-4 p-4 bg-light rounded shadow">
  <form [formGroup]="formData">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 appId="serviceData" i18n="@@serviceData" class="fs-3 fw-bold text-primary"> Step 6: Service Data </h2>
      <button
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#serviceDataModal"
      >
        Open
      </button>
    </div>

    <div class="mb-4">
      <div class="col-md-12">
        <div class="mb-3">
          <label
            for="inputOverview"
            class="form-label label-with-colon"
            i18n="@@overview"
          >
            Overview
          </label>
          <textarea
            class="form-control"
            id="inputOverview"
            appId="inputOverview"
            formControlName="overview"
            i18n-placeholder="@@overviewPlaceholder"
            placeholder="Write an overview"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="accordion" id="serviceAccordion">
      <div *ngFor="let item of itemsOverview?.galleryItems; let i = index" class="accordion-item">
        <h2 class="accordion-header" id="heading{{ i }}">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse' + i"
            [attr.aria-expanded]="i === 0"
            [attr.aria-controls]="'collapse' + i"
          >
            {{ item.title }} (Posición: {{ item.position }})
          </button>
        </h2>
        <div
          [id]="'collapse' + i"
          class="accordion-collapse collapse"
          [class.show]="i === 0"
          [attr.aria-labelledby]="'heading' + i"
          data-bs-parent="#serviceAccordion"
        >
          <div class="accordion-body">
            <p><strong>Descripción:</strong> {{ item.description }}</p>
            <p><strong>Enlace:</strong> <a [href]="item.urlLink" target="_blank">{{ item.urlLink }}</a></p>
            <p><strong>Video:</strong> <a [href]="item.urlVideo" target="_blank">{{ item.urlVideo }}</a></p>
            <p><strong>Tipo:</strong> {{ item.type }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end mt-4">
      <button (click)="saveServiceData()" class="btn btn-lg btn-primary">
        Guardar
      </button>
    </div>
  </form>
</div>

<div
  class="modal fade"
  id="serviceDataModal"
  tabindex="-1"
  aria-labelledby="serviceDataModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="serviceDataForm">
          <div class="row g-3">
            <div class="col-md-2">
              <label
                for="position"
                appId="position"
                class="form-label label-with-colon"
                i18n="@@position"
              >
                Position
              </label>
              <input
                class="form-control"
                id="position"
                formControlName="position"
                i18n-placeholder="@@positionPlaceholder"
                placeholder="Enter your position"
                type="number"
              />
            </div>
            <div class="col-md-3">
              <label
                for="title"
                appId="title"
                class="form-label label-with-colon"
                i18n="@@titleService"
              >
                Title
              </label>
              <input
                class="form-control"
                id="title"
                formControlName="title"
                i18n-placeholder="@@titleServicePlaceholder"
                placeholder="Write a title"
              />
            </div>
            <div class="col-md-7">
              <label
                for="description"
                appId="description"
                class="form-label label-with-colon"
                i18n="@@description"
              >
                Description
              </label>
              <input
                class="form-control"
                id="description"
                formControlName="description"
                i18n-placeholder="@@descriptionPlaceholder"
                placeholder="Enter a description"
              />
            </div>
          </div>
          <div class="row g-3 mt-3">
            <div class="col-md-6">
              <label
                for="urlLink"
                appId="urlLink"
                class="form-label label-with-colon"
                i18n="@@urlLink"
              >
                UrlLink
              </label>
              <input
                class="form-control"
                id="urlLink"
                formControlName="urlLink"
                i18n-placeholder="@@urlLinkPlaceholder"
                placeholder="Enter a URL"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <label
                for="urlImage"
                appId="urlImage"
                class="form-label label-with-colon"
                i18n="@@urlImage"
              >
                UrlImage
              </label>
              <input
                class="form-control"
                id="urlImage"
                formControlName="urlImage"
                i18n-placeholder="@@urlImagePlaceholder"
                placeholder="Enter a URL for the image"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <label
                for="urlVideo"
                appId="urlVideo"
                class="form-label label-with-colon"
                i18n="@@urlVideo"
              >
                UrlVideo
              </label>
              <input
                class="form-control"
                id="urlVideo"
                formControlName="urlVideo"
                i18n-placeholder="@@urlVideoPlaceholder"
                placeholder="Enter a url for the video"
                type="text"
              />
            </div>
            <div class="col-md-6">
              <label
                for="type"
                appId="type"
                class="form-label label-with-colon"
                i18n="@@type"
              >
                Type
              </label>
              <input
                class="form-control"
                id="type"
                formControlName="type"
                i18n-placeholder="@@typePlaceholder"
                placeholder="Write a type"
              />
            </div>
          </div>
          <div class="d-flex justify-content-end mt-4">
            <button
              (click)="addServiceData()"
              class="btn btn-lg btn-primary"
              type="button"
              data-bs-dismiss="modal"
            >
              Añadir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
