<h2 mat-dialog-title>Agregar Nuevo Testimonio</h2>
<mat-dialog-content>
  <form [formGroup]="testimonialsDialogForm" class="form-content">
    <div class="form-row full-width-row">
      <div class="form-item full-width-item">
        <mat-form-field appearance="fill" class="full-width-item">
          <mat-label i18n="@@name">Name</mat-label>
          <input
            matInput
            formControlName="name"
            i18n-placeholder="@@namePlaceholder"
            placeholder="Enter a name"
            required
          />
<!--          <mat-error *ngIf="testimonialsDialogForm.get('name')?.hasError('required')">El nombre es requerido.</mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="form-row full-width-row">
      <div class="form-item full-width-item">
        <mat-form-field appearance="fill" class="full-width-item">
          <mat-label i18n="@@jobTitle">JobTitle</mat-label>
          <input
            matInput
            formControlName="jobTitle"
            i18n-placeholder="@@jobTitlePlaceholder"
            placeholder="Enter your professional title"
            required
          />
<!--          <mat-error *ngIf="testimonialsDialogForm.get('jobTitle')?.hasError('required')">El cargo es requerido.</mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="form-row full-width-row">
      <div class="form-item full-width-item">
        <mat-form-field appearance="fill" class="full-width-item">
          <mat-label i18n="@@photoUrl">PhotoUrl</mat-label>
          <input
            matInput
            formControlName="photoUrl"
            i18n-placeholder="@@photoUrlPlaceholder"
            placeholder="Enter the photo url"
            required
          />
<!--          <mat-error *ngIf="testimonialsDialogForm.get('photoUrl')?.hasError('required')">La URL de la foto es requerida.</mat-error>-->
        </mat-form-field>
      </div>
    </div>
    <div class="form-row full-width-row">
      <div class="form-item full-width-item">
        <mat-form-field appearance="fill" class="full-width-item">
          <mat-label i18n="@@testimonial">Feedback</mat-label>
          <textarea>
          matInput
          formControlName="testimonial"
          i18n-placeholder="@@testimonialPlaceholder"
          appId="testimonial"
          placeholder="Enter a testimonial"
          required
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          ></textarea>
<!--          <mat-error *ngIf="testimonialsDialogForm.get('Feedback')?.hasError('required')">El testimonio es requerido.</mat-error>-->
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null" color="warn" i18n="@@cancelButton">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [mat-dialog-close]="testimonialsDialogForm.value" [disabled]="!testimonialsDialogForm.valid" i18n="@@save">Save</button>
</mat-dialog-actions>
