@let personalData = profile$()?.personalData;
<footer id="footer">
  <div class="container">
    <h3 appId="footer_name">{{ personalData?.name }}</h3>
    <div class="social-links">
      @for (network of personalData?.socialNetworks; track $index) {
        <a href="{{ network.url }}" [ngClass]="network.type.name" target="_blank" rel="noopener"
          ><i [ngClass]="['bx', network.type.icon]"></i
        ></a>
      }
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>MyResume</span></strong
      >. All Rights Reserved
    </div>
  </div>
</footer>
