@use "variables" as vars;

.early-adopter-layout {
  font-family: vars.$font-family-1;
  margin: 0;
  padding: 0;
  background-color: vars.$background-color-2;
  color: vars.$font-color;
  line-height: 1.6;

  header {
    background: vars.$accent-color;
    color: vars.$color_4;
    padding: 1rem 0;
    text-align: center;
  }

  .label-with-colon::after {
    content: ":";
  }
}
