<header appId="header" class="header d-flex flex-column justify-content-center" [class.header-show]="isMobileMenuVisible">
  <button
    type="button"
    class="header-toggle d-xl-none"
    aria-label="Toggle navigation menu"
    (click)="toggleMobileMenu()">
    <i class="bx" [class.bx-menu]="!isMobileMenuVisible" [class.bx-x]="isMobileMenuVisible"></i>
  </button>

  <nav appId="navbar" class="navbar nav-menu">
    <ul>
      @for (section of sections()?.values(); track $index) {
        <li>
          <button
            [appId]="'a_' + section.target"
            (click)="setActive(section)"
            class="nav-link"
          >
            <i class="bx" [ngClass]="section.icon"></i>
            <span>{{ section.label }}</span>
          </button>
        </li>
      }
    </ul>
  </nav>
</header>
