@if (summary(); as summaryData) {
  <section appId="summary" class="resume" id="summary">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 i18n="@@resume">Resume</h2>
        <p appId="introduction">{{ summaryData.introduction }}</p>
      </div>
      <div class="row">
        @if (hasEducation()) {
          <div class="col-12" [class.col-lg-6]="hasWorkExperience()">
            <h3 i18n="@@education" class="resume-title">Education</h3>
            @for (edu of education()!; track edu.experience) {
              <div class="resume-item">
                <h4 [appId]="'experience_' + $index">{{ edu.experience }}</h4>
                <h5 [appId]="'startDate-date' + $index">{{ edu.startdate | date:'longDate' }}</h5>
                <p [appId]="'academy-formation' + $index">
                  <em>{{ edu.academy }}</em>
                </p>
                <p [appId]="'description_' + $index">{{ edu.description }}</p>
              </div>
            }
          </div>
        }
        @if (hasWorkExperience()) {
          <div class="col-12" [class.col-lg-6]="hasEducation()">
            <h3 i18n="@@workExperience" class="resume-title">Work Experience</h3>
            @for (work of workExperience()!; track work.specialist) {
              <div class="resume-item">
                <h4 [appId]="'specialist_' + $index">{{ work.specialist }}</h4>
                <h5 [appId]="'startDate_' + $index">{{ work.startDate | date:'longDate' }}</h5>
                <p [appId]="'location_' + $index">
                  <em>{{ work.location }}</em>
                </p>
                <p [appId]="'description_' + $index">{{ work.description }}</p>
                @for (responsibility of work.responsibilities; track responsibility) {
                  <ul>
                    <li [appId]="'responsibility_' + $index + '_' + $index">{{ responsibility }}</li>
                  </ul>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
  </section>
}
